@{
    ViewBag.Title = "FAQ";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<Div>
    <p>
        <heavy><bold> Notes on the completion of Change Control Requests</bold></heavy>
    </p>
    <ol>
        <li>

            <p> <Bold>Q : When is this Contract Change Control App to be used</Bold></p>
            <p> A : This App is to be used to record and approve all contract change requests as set out in the DEASP Contract</p>
        </li>
        <li>

            <p><bold>Q : What if the contract change is onlt temporary in nature</bold></p>
            <p>A : Temporary or one off requests for additional services under 
            this contract should put on a Purchase order and not input into the App as they are temporary
            in nature and not a change ot the contract.</p>

        </li>
        <li>


            <p><Bold>Q : When do contract changes take effect from.</Bold></p>
            <p>
                A : All Contract Changes will take effect on the 1st of the following month to allow for monthly invoicing.
                Changes mid month should be handled by way of a purchase order until the contract changes take effect.
            </p>
        </li>
    </ol>

</Div>